
* {
  box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: #293c4b;

    height: 100vh;
}

#root,
canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 2px solid #f0c;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0,0,0,0.6);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 100%;
  padding: 2em 2em;

  display: flex;
  flex-direction: column;

  color: rgb(70, 47, 151);
  background: #eee;
}

@media (min-width: 40em) {
  .modal {
    max-width: 40em;
    border-radius: .5em;
  }
}

.modal > h1 {
  margin: 0 auto 1em;
}

.modal > p {
  margin-top: 0;
}

button {
  cursor: pointer;
  font-size: 1.2em;
  cursor: pointer;
  padding: 1em 0;
  border-radius: .5em;
  background: #ccc;
  border: .1em solid rgb(70, 47, 151);
  color: rgb(70, 47, 151);
  transition: all .5s;
}

button:hover {
  background-color: rgb(95, 60, 223);
  color: white;
}

button {
  outline: 0;
}
